@import "tailwindcss";

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
  }
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

@theme {
  --color-primary: #F48426;
  --font-fredoka: "Fredoka", sans-serif;
}