@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

@theme {
  --color-primary: #F48426;
  --font-fredoka: "Fredoka", sans-serif;
}