@import "tailwindcss";
@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
  }
}



@theme {
  --color-primary: #F48426;
  --font-fredoka: "Fredoka", sans-serif;
}